.distance {
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url(../../assets/bricks1.jpg); 
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: center;
}

.map-style {
  align-items: center;
  background-color: rgba(28, 141, 196, .9);
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  width: 649px;
}