.landing {
  background-image: url(../../assets/splitBackground.jpg);
  height: 85vh;
  background-size: cover;
  display: flex;
  background-repeat: no-repeat;
  justify-content: space-around;
  align-items: center;
}

.zip {
  width: 80%;
  height: 4rem;
  background: none;
  color: rgba(28, 141, 196);
  font-size: 2rem;
  padding-left: 10px;
}

.landing-form {
  width: 40vw;
  display: flex;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing-signup {
  width: 40vw;
  display: flex;
  height: 50%;
  background-color: rgba(28, 141, 196, .9);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.create-text {
  color: white;
  width: 80%;
}

.enter-text {
  color: rgba(28, 141, 196, .9);
  width: 80%
}

.nav-signup {
  color: white;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 5px;
  padding: 12px;
  margin: 0;
  font-size: 2rem
}