.nav-button {
  margin: 10px
}

.nav-button:visited {
  text-decoration: none;
}

.nav-bar {
  height: 3rem;
  background: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-size: 2rem
}
