.nav-button {
  margin: 10px;
  text-decoration: none;
  color: white;
  padding: 5px;
}

.nav-button:hover {
  padding: 5px;
  border-bottom: 2px solid white;
}

.nav-bar {
  /* height: 4rem; */
  background: rgba(28, 141, 196, .9);
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  font-size: 1.5rem
}

.zone1 {
  color: white;
  font-size: 3rem;
  font-family: 'Megrim', cursive;
}

.nav-sign-in-btn {
  text-decoration: none;
  color: white;
  border: 3px solid;
  padding: 5px;
  border-radius: 5px;
}

.user-display {
  color: white;
    background-color: #3395c7;
    padding: 5px;
    font-size: 1.2rem;
}