.tags {
background: url(../../assets/bricks1.jpg); 
height: 85vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-repeat: no-repeat;
background-size: cover;
}

.tags-style {
  background-color: rgba(28, 141, 196, .9);
    display: flex;
    width: 675px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92%;
}

form .add-type-input {
    background: none;
    height: 3rem;
    border: 3px solid white;
    width: 580px;
    color: white;
    padding-left: 10px;
    margin: 0 0 20px 0;
    font-size: 2rem;
    border-radius: 5px;
}

.tags-form {
  width: 100%;
}