.sign-up {
background: linear-gradient(to top, #0b3080 0%,#1a66bf 100%); 
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.input {
  background: none;
  height: 3rem;
  border: 2px solid #ecb429;
  width: 30rem;
  color: #ecb429;
  padding-left: 10px;
  margin: 20px;
  font-size: 2rem;
  border-radius: 5px;
}

.sign-up-btn {
  height: 3rem;
  width: 30rem;
  border-radius: 5px;
  font-size: 2rem;
  color: #ecb429;
  background: none;
  border: 2px solid #ecb429;
  margin: 20px;
}

*, *:before, *:after {
  box-sizing: inherit;
}