.sign-up {
  background: url(../../assets/bricks1.jpg); 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sign-up-form {
  background-color: rgba(28, 141, 196, .9);
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
}

.input {
  background: none;
  height: 3rem;
  border: 3px solid white;
  width: 75%;
  color: white;
  padding-left: 10px;
  margin: 20px;
  font-size: 2rem;
  border-radius: 5px;
}



.sign-up-btn {
  height: 3rem;
  width: 75%;
  border-radius: 5px;
  font-size: 2rem;
  color: white;
  background: none;
  border: 2px solid white;
  margin: 20px;
}

.sign-up-btn:disabled {
  color: rgb(67, 119, 144);
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid rgb(67, 119, 144);
}

*, *:before, *:after {
  box-sizing: inherit;
}

form p {
  font-size: 1.2rem;
  color: white;
  margin: 0;
}